div.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
}
div.container > div {
    width: 10vw;
    margin: 2vw;
    line-height: 8vh;
    text-align: center; 
    vertical-align: middle;
    font-size: 2vw
}
div#card {
    border: seagreen 2vh dotted; 
    text-align: center; 
    vertical-align: middle;
    font-size: 4vw
}
#keep {
    background-color:red;
}
#remove {
    background-color: green;
} 
.hidden {
    visibility: hidden;
    display: none;
}